<!DOCTYPE html>
<html lang="en">
{%load staticfiles%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

  <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/icons/icomoon/styles.css'%}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/core.css'%}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/components.css'%}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/css/colors.css'%}" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->

  <!-- Core JS files -->
  <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/nicescroll.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/drilldown.js'%}"></script>
  <!-- /core JS files -->


  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'assets/js/core/app.js'%}"></script>

  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js'%}"></script>
  <!-- /theme JS files -->

</head>

<body class="login-container">

  <!-- Main navbar -->
  <div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
      <a class="navbar-brand" href="{%url 'login'%}"><img src="{% static 'assets/images/logo_light.png'%}" alt=""></a>

      <ul class="nav navbar-nav pull-right visible-xs-block">
        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
      </ul>
    </div>


  </div>
  <!-- /main navbar -->


  <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    {%block content%}
    {%endblock%}

    <!-- /page content -->

  </div>
  <!-- /page container -->


  <!-- Footer -->
  <div class="footer text-muted text-center">
    &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
  </div>
  <!-- /footer -->

</body>
</html>
